@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&family=Roboto+Condensed&display=swap');

:root{
    --primary-color:#48A0DC;
    --secondary-color:#4E9655;
    --accent1-color:#E6E615;
    --accent2-color:#584207;

    --heading-font: 'Philosopher', serif;
    --paragraph-font: 'Roboto Condensed', serif;

    --navigation-background-color: #E6E615;
    --navigation-link-color:#584207;
    --navigation-hover-link-color:#4e9655;
    --navigation-hover-background-color: #48A0DC;
}

body{
    font-family: var(--paragraph-font);
    max-width: 1000px;
    margin: auto;
    background-color: var(--accent1-color);
}

header{
    margin: 1rem auto;
	display: grid;
    grid-template-columns: 170px 45fr 4fr;
}
header img{
    width: 150px;
}
.head{
    display: flex;
    margin-top: 35px;
    margin-left: 150px;
    text-align: right;
    font-size: 20px;
    height: 2em;
}
.head a{
    font-size: 20px;
    color: var(--accent2-color);
    text-decoration: none;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 2.2rem;
}

.hero {
    position: relative;
}
h1{
    position: absolute;
}
.heroimg{
    display: block;
    width: 100%;
    height: auto;
}
.hpp{
    float: right;
    width: 300px;
}
h1, h2{
    text-transform: uppercase;
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
h2{
    font-size: 30px;
}
.sociallinks img{
    float: right;
    height: 30px;
    margin-left: 47px;
}
.container img{
    height: 80px;
}
.slider{
    display: flex;
    list-style: none;
}
.head a:link, .head a:visited {
    color: var(--navigation-link-color);
}
.head a:hover{
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
}
footer p{
    text-align: center;
    margin-top: 40px;
    
}
figcaption{
    text-align: center;
}
